.phone-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 15px;
  }
  
#phone-number-label{
 
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    color: #888;
}

.signup-container input:focus~label#phone-number-label,
.signup-container input:valid~label#phone-number-label{
  top: 5px;
  font-size: 10px;
  background-image: linear-gradient(to right, #8F4DC5,  #ff3988, #ff31a3, #ff29bf,#FE2198);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

  /* .phone-input label {
    margin-left: 86px;
    margin-bottom: 100px;
    transform: translateY(-80%);
      
  } */
  
  .phone-input select {
    margin-right: 8px;
    width: 80px;
  }
  
  .phone-input input {
    margin-right: 8px;
  }
  

.employer-form-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
      }

#reset-btn{
    background: transparent;
    border: solid var(--color-yellow) 3px;
    transition: background-color 0.3s ease;
}

#reset-btn:hover{
    background: var(--color-yellow);
    border: solid var(--color-secondary-black) 3px;
    transition: background-color 0.3s ease;
}

#post-btn{
    background: var(--color-yellow);
    border: solid var(--color-secondary-black) 3px;
    transition: background-color 0.3s ease;
}

#post-btn:hover{
    background: transparent;
    border: solid var(--color-yellow) 3px;
    transition: background-color 0.3s ease;
}


      


@media (max-width: 500px) {
    .employer-form-button-container {
      flex-direction: column; 
      align-items: center; 
    }

    .employer-form-button-container .post-button {
        margin: 10px 10px; 
      }

  }