@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: var(--color-white);
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-8xl: 27px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-grey-primary: #dddddd;
  --color-grey-secondary: #bfbfbf;
  --color-grey-darker: #7e7e7e;

  --color-secondary-black: #191919;
  --color-secondary-black-darker: #121212;
  --color-red : #E8505B;
  --color-blue : #4E95FE;
  --color-yellow : #FFD966;
  --color-purple: #632F93;
  --color-green : #00D085;
  
  /* border radiuses */
  --br-5xs: 8px;
  --br-mini: 15px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

body{
  background-color: var(--color-black);
  color: var(--color-white);
}

.main-intro-text{
  font-size: 3rem ;
  width: 40%;
  /* margin: auto; */
}

.gradient-text {
  background-image: linear-gradient(to right, #8F4DC5, #FE2198);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-btn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  background: var(--color-secondary-black);
  padding: 10px 30px 10px 30px;
  border: solid #4e0983 3px;
  transition: background-color 0.3s ease;
  background-origin: border-box;
  text-decoration: none;
}

.login-btn:hover {
  background: #8e0279;
  background-image: -webkit-linear-gradient(top, #8e0279, #380066);
  background-image: -moz-linear-gradient(top, #8e0279, #380066);
  background-image: -ms-linear-gradient(top, #8e0279, #380066);
  background-image: -o-linear-gradient(top, #8e0279, #380066);
  background-image: linear-gradient(to bottom, #8e0279, #380066);
  text-decoration: none;
  cursor: pointer;
} 

/* Adjustment for top container and buttons */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
}

.login-btn {
  margin-left: 10px;
}

.home-cards-container {
  margin-top: 20px;
}




.home_cards_container{
  max-width: 1300;
  width: 60%;
}

section{
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

h1{
  margin-top: 10px;
  width: 50%;
  margin: auto;
  font-size: 30px;
  
  text-align: center;
  margin-bottom: 4px;
  font-weight: lighter;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  flex: 0 0 calc(50% - 4rem);
  width: calc(33.33% - 40rem);
  width: 100%;
  background-color: var(--color-secondary-black);
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.card img{
  width: 70%;
}
.card:hover{
  transition: ease-in;
  border: 0.5px solid;
  border-color: var(--color-purple);
  cursor: pointer;
}


/* Signup */


.signup-container {
  max-width: 50%;
  padding: 20px;
  background-color: var(--color-secondary-black-darker);
  border-radius: 5px;
}

.signup-container span {
  font-size: 32px;

}

.signup-container h2{
  font-size: 1.4rem;
  font-weight: 100;
  text-decoration: none;
  padding-bottom: 6px;
  padding-top: 15px;
}

.signup-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.signup-container .form-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.signup-container label {
  position: absolute;
  top: 80%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s;
  pointer-events: none;
  color: #888;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-container input:focus~label,
.signup-container input:valid~label {
  top: 60px;
  font-size: 10px;
  background-image: linear-gradient(to right, #8F4DC5,  #ff3988, #ff31a3, #ff29bf,#FE2198);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.signup-container button[type="submit"] {

  width: 30%;
  margin: auto;
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: var(--color-secondary-black);
  padding: 10px 20px 10px 20px;
  border: solid #4e0983 3px;
  transition: background-color 0.3s ease;
  background-origin: border-box;
  text-decoration: none;
}

.signup-container button[type="submit"]:hover {
  background: #8e0279;
  background-image: -webkit-linear-gradient(top, #8e0279, #380066);
  background-image: -moz-linear-gradient(top, #8e0279, #380066);
  background-image: -ms-linear-gradient(top, #8e0279, #380066);
  background-image: -o-linear-gradient(top, #8e0279, #380066);
  background-image: linear-gradient(to bottom, #8e0279, #380066);
  text-decoration: none;
  cursor: pointer;
}

.signup-container p {
  text-align: center;
  margin-top: 20px;
}

.signup-container a {
  background-image: linear-gradient(to right, #8F4DC5,#FE2198);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}

.works-text{
  padding-bottom: 4rem ;
}

.jobs-text{
 color: var(--color-green);
}

.work_type_job{
  background-color: var(--color-green);
}

.internships-text{
 color: var(--color-red);
}

.work_type_internships{
  background-color: var(--color-red);
}

.freelancer-text{
  color: var(--color-blue);
 }
 
 .work_type_freelancer{
   background-color: var(--color-blue);
 }
 


.jobList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0rem;
  /* margin-right: 90px; */
}

.jobCard {
  position: relative;
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.3s;
}

.jobCard:hover {
  transition: ease 0.5s;
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  background-image: linear-gradient(to right, #8F4DC5,  #ff3988, #ff31a3, #ff29bf,#FE2198);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}


.jobCard__wishlist {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  
  cursor: pointer;
  color: var(--color-grey-primary);
}

.jobCard__wishlist:hover {
  transition: 0.3s;
  color: white;
}

.jobCard__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.jobCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.jobImage {
  max-width: 25%;
  height: auto;
  margin-right: 1rem;
  border-radius: 100%;
}

.jobName {
  font-size: 1.5rem;
  margin-top: 1rem;
  flex-grow: 1;
  transition: 0.1s;
  
}
.jobName:hover{
  transition: 0.4s;
  color: var(--color-grey-primary);
}

.jobCompany
{
  transition: 0.1s;
}

.jobCompany:hover
{
  transition: 0.3s;
  color: var(--color-grey-primary);
}

.displayStack__1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tagsContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.tagItem {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 6px;
  box-shadow: 5px 4px 4px 2px var(--color-grey-darker);
  transition: 0.1s;
}

.tagItem:hover
{
  transition: 0.3s;
  color: var(--color-grey-primary);
}

.displayStack__2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
}

.jobview {
  font-size: 1rem;
  padding: 3px;
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 5px 4px 4px 2px var(--color-grey-darker);
  padding: 6px;
  transition: 0.1s;
}

.jobview:hover{
  transition: 0.3s;
  color: var(--color-grey-primary);
}



/* Media Queries */


@media(max-width:1000px){
  .jobList{
    margin-right: 0;
  }
}
  @media(max-width:1000px){
  section{
    padding: 20px 0px;
  }

  h1{
    font-size: 30px;
    line-height: 40px;
  }
  .card{
    flex : 0 0 calc(50% -20px);
    max-width : calc(50% -20px);

  }
  .signup-container{
    max-width: 80%;
  }
}



@media (max-width: 750px) {
  .header-container {
    align-items: start;
    flex-direction: column;
  }
  .buttons-container{
    padding-top: 1rem;
  }

  .jobcard-container > * {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    margin: auto;
  }
}



@media(max-width:600px){

  .card{
    flex : 0 0 100%;
    max-width : 60%;
    margin: auto;
    margin-top: 60px;

  }
  .signup-container{
    max-width: 100%;
  }
  .displayStack__2 {
    margin: 0;
  }
}