@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: var(--color-white);
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-8xl: 27px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-grey-primary: #dddddd;
  --color-grey-secondary: #bfbfbf;
  --color-grey-darker: #7e7e7e;

  --color-secondary-black: #191919;
  --color-secondary-black-darker: #121212;
  --color-red : #E8505B;
  --color-blue : #4E95FE;
  --color-yellow : #FFD966;
  --color-purple: #632F93;
  --color-green : #00D085;
  
  /* border radiuses */
  --br-5xs: 8px;
  --br-mini: 15px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

body{
  background-color: var(--color-black);
  color: var(--color-white);
}

.gradient-text {
  background-image: linear-gradient(to right, #8F4DC5, #FE2198);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-blue {
  background-image: linear-gradient(to right, #E40ACF, #192CD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* To centering the headings */
.job-detail-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
}

.job-detail-heading {
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 7%;
  text-align: center;
}

/* Adjusting Spaces */
.padding-bottom-zero{
  padding-bottom: 0%;
}


#employer-registration-text{
  color: var(--color-yellow);
}

.divider-line{
  width: 80%;
  margin: auto;
  height: 10px;
  border-radius: 10px;
  background-color: var(--color-secondary-black);
  border: none;
}

/* Media Queries */


@media(max-width:1000px){
  .jobList{
    margin-right: 0;
  }
}
  @media(max-width:1000px){
  section{
    padding: 20px 0px;
  }

  h1{
    font-size: 30px;
    line-height: 40px;
  }
  .card{
    flex : 0 0 calc(50% -20px);
    max-width : calc(50% -20px);

  }
  .signup-container{
    max-width: 80%;
  }

}



@media (max-width: 750px) {
  .header-container {
    align-items: start;
    flex-direction: column;
  }
  .buttons-container{
    padding-top: 1rem;
  }

  .jobcard-container > * {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    margin: auto;
  }
}



@media(max-width:600px){

  .card{
    flex : 0 0 100%;
    max-width : 60%;
    margin: auto;
    margin-top: 60px;

  }
  .signup-container{
    max-width: 100%;
  }
  .displayStack__2 {
    margin: 0;
  }
}