#post-button{
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    background: var(--color-blue);
    border: none;
    transition: background-color 0.3s ease;
  }
  
  
#post-button:hover {
    background: #8e0279;
    background-image: -webkit-linear-gradient(top, #8e0279, #380066);
    background-image: -moz-linear-gradient(top, #8e0279, #380066);
    background-image: -ms-linear-gradient(top, #8e0279, #380066);
    background-image: -o-linear-gradient(top, #8e0279, #380066);
    background-image: linear-gradient(to bottom, #8e0279, #380066);
    text-decoration: none;
    cursor: pointer;
  }
  

  /* .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  } */
  

    